* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 211, 211);
    display: grid;
    justify-content: center;
    /* Centramos el elemento*/

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* COLORES */
    --primary: rgb(39, 127, 228);
    --diabled: rgb(231, 231, 231);
}

#mainSection{
    margin: 1rem;
    background-color: white;
    width: 350px;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
}

ul {
    padding: 0.5rem;
    list-style: none;
}

li {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
    display: grid;
    grid-template-columns: 90% 1fr;
}

li > p {
    margin: 0.5rem;
    overflow-x: hidden;
    width: 90%;
}
li > button {
    height: 100%;
    justify-content: center;
    align-self: center;

    cursor: pointer;
    border-radius: 25%;
    border: none;
    /* background: ; */
    background-image: url(./Iconos/Basura_Cerrada.svg) no-repeat;
}

li > button > img {
    height: 100%;
    /* width: 100%; */
}

li > button:hover {
    background-image: url(./Iconos/Basura_Abierta.svg) no-repeat;
}

#dateSection {
    padding: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

#dateMonthYear {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#dateNumber {
    display: flex;
    /* background-color: red; */
    justify-content: right;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

#MonthYear {
    display: flex;
    flex-direction: column;
}

#month, #year {
    display: flex;
    height: 50%;
}

#month {
    justify-content: center;
    align-items: end;
    font-size: 0.9rem;
    font-weight: bold;
}

#year {
    justify-content: center;
    font-size: 0.8rem;
    font-weight: lighter;
    letter-spacing: -1px;
}

#dateDay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;

    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.task {
    padding: 0.25rem;
    margin: 0.5rem;
    border-radius: 0.8rem;
    background-color: var(--primary);
    color: white;
    cursor:grab;
}

.task button {
    visibility: hidden;
}

.done {
    background-color: var(--diabled);
    color: black;
    text-decoration: line-through;
}

.done button {
    visibility: visible;
}

#addTask {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* border: 2px solid black; */
    border: none;
    background-color: rgb(231, 231, 231);
    color: black;
    /* font-weight: bold; */
    width: 175px;
}

#addTaskButton {
    width: 2rem;
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
    border: none;
    cursor: pointer;
}

img {
    width: 50%;
}

#sortTask {
    width: 75px;
    border-radius: 0.25rem;
    border: none;
    background-color: rgb(63, 211, 191);
    color: white;
    cursor: pointer;
}

#addTaskButton:hover, 
#sortTask:hover {
    transform: scale(1.01);
}

#addTaskButton:hover {
    background-color: rgb(238, 238, 238);
}

#sortTask:hover {
    background-color: rgb(93, 233, 214);
}

li:not(.done):hover {
    background-color: #3b88e0;
    transform: scale(1.01);
}

li.done:hover {
    background-color: rgb(238, 238, 238);
}

